@model IEnumerable<WebApplication1.Models.MenuItem>


@helper BuildMenu(IEnumerable<WebApplication1.Models.MenuItem> data, int? parentId = null) {

    var items = data.Where(d => d.ParentId == parentId).OrderBy(i => i.Order);
    if (items.Any())
    {


<ul>
    @foreach (var item in items)
    {
        <li>
            <a href="@item.Url">@item.Header</a>    
            @Html.ActionLink("@item.Header", "@item.Url")
            @BuildMenu(data, item.Id)
    </li>
    }
</ul>
    }
}

<div id="cssmenu">
    @BuildMenu(Model)
</div>


