@model WebApplication1.Models.BuyTickets
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Покупка билетов</h2>
    @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Person, "Input your name: ")
        <br />
        @Html.TextAreaFor(m => m.Person)
        <br />
        @Html.HiddenFor(m => m.Email, "Input your email: ")
        <br />
        @Html.TextAreaFor(m => m.Email)
        <br />
        <p>
            <input type="submit" value="Send" />
        </p>
    }
</div>

