@{
    ViewBag.Title = "Home Page";

    /*Layout = "_Layout.cshtml";*/

    Layout = null;
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <h2>@ViewData["Head"]</h2>
    <h2>@ViewBag.Head</h2>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<h1>@Session["name"]</h1>

@*@Html.TextBox("name", ViewData["Head"].ToString())*@


<div class="row">
    <div class="col-md-12">
        <h2>Фильмы</h2>
        <table>
            <tr>
                <td>
                    Название фильмы
                </td>
                <td>
                    Автор
                </td>
                <td>
                    Дата релиза
                </td>
                <td>
                    Студия
                </td>
            </tr>
            @foreach (var movie in ViewBag.Movies)
            {
                <tr>
                    <td>
                        @movie.Title
                    </td>
                    <td>
                        @movie.Author
                    </td>
                    <td>
                        @movie.Date
                    </td>
                    <td>
                        @movie.CreateBy
                    </td>
                    <td>
                        <p>
                            <a href="~/Views/Home/Buy/@movie.Id"/>Buy
                        </p>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>