@using WebApplication1.Models
@model IEnumerable<Movie>

@{
    ViewBag.Title = "Главная страница";
}


@*@{Html.RenderPartial("Partial")}*@
@Html.Partial("Partial", new string[] { "Kazakhstan", "Canada", "China", "Japan" })
<br />
<h3>There is Helper which written by Razor</h3>
@MyHelpers.HtmlList(new string[] { "Astana", "Toronto", "Beijin", "Tokyo" })
<br />

<h3>There is Helper which written by C# class</h3>
@{
    string[] sightseeings = new string[] { "Baiterek", "CN tower", "Forbidden city", "Sakura" };
}
@using WebApplication1.Helpers
@ListHelpers.CreateList(Html, sightseeings, new {@class="btn", @id="sightseeinglist"})
<br />

<h3>There is Helper for Image</h3>
@{
    string src = "../Images/unnamed.jpg";
    string alt = "This is photo like mem";
}
@using WebApplication1.Helpers
@ImageHelper.Image(Html, src, alt);

<br />

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <h2>@ViewData["Head"]</h2>
    <h2>@ViewBag.Head1</h2>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<ul class="breadcrumb">
    <li>@Html.ActionLink("Chat", "Index", "Chat")</li>
    <li>@Html.ActionLink("ChatRoom", "ChatRoom", "Chat")</li>
    <li>@Html.ActionLink("History", "History", "Chat")</li>
</ul>

<div class="alert alert-danger">
    Опасно!
</div>
<div class="alert alert-success">
    Задача успешно завершена!
</div>
<div class="alert alert-info">
    Доп инфа
</div>
<div class="alert alert-warning">
    Внимание!
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped table-bordered table-hover">
            <tbody>
                <tr class="info">
                    <th>N</th>
                    <th>Language</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Kazakh</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Russian</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>English</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Spanish</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Frehch</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-warning">Warning</button>
</div>

<iframe src="file.html">
    <form action="/Banking.kz" method="post">
        <input id="id:amount" type="text" placeholder="5000" />
        <input id="id:amount" type="text" placeholder="1000" />
        <input id="id:amount" type="text" placeholder="10000" />
        <input id="id:amount" type="text" placeholder="20000" />
    </form>
</iframe>

<div class="row">
    <div class="col-xs-offset-12 col-xs-8 col-sm-12 col-md-4 col-lg-4 ">
        <h2>Hello world!</h2>
        <p>Prikol estzhe</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2>Hello Almaty!</h2>
        <p>Almay one hundred colors</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2>Apple, Microsoft</h2>
        <p>Amazon, Samsung</p>
    </div>
</div>


<ul class="pagination">
    <li><a href="#"><<</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">>></a></li>
</ul>

@*<h1>
    @Session["name"]
</h1>

@Html.TextBox("name", (string)ViewBag.Head)*@



<div class="row">
    <div class="col-md-12">
        <h2>Хочу посмотреть Фильм</h2>


        <table>
            <tr>
                <td>Название фильма</td>
                <td>Автор</td>
                <td>Дата релиза</td>
                <td>Студия</td>
                <td> </td>
            </tr>

            @foreach (WebApplication1.Models.Movie b in ViewBag.Movies)
            {
                <tr>
                    <td>@b.Title</td>
                    <td>@b.Author</td>
                    <td>@b.Date</td>
                    <td>@b.CreateBy</td>
                    <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                </tr>
            }


            @helper Movie(IEnumerable<WebApplication1.Models.Movie> movies)
            {
                <ul>
                    @foreach (WebApplication1.Models.Movie b in ViewBag.Movies)
                    {
                    <tr>
                        <td>@b.Title</td>
                        <td>@b.Author</td>
                        <td>@b.Date</td>
                        <td>@b.CreateBy</td>
                        <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                    </tr>
                }
                </ul>
            }
        </table>
    </div>
</div>

@*
    @section Footer{
        <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
    }*@