@model WebApplication1.Models.Account

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Регистрация</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    <h4>Регистрация пользователя</h4>
    <hr />
    @Html.ValidationSummary(false)

    <div>
        First name
        <div>
            @Html.EditorFor(model => model.FirstName)
        </div>
    </div>

    <div>
        Last name
        <div>
            @Html.EditorFor(model => model.LastName)
        </div>
    </div>

    <div>
        Email
        <div>
            @Html.EditorFor(model => model.Email)
        </div>
    </div>

    <div>
        Password
        <div>
            @Html.PasswordFor(model => model.Password)
        </div>
    </div>

    <div>
        Gender
        <div>
            @Html.EditorFor(model => model.FirstName)
        </div>
    </div>

    <div>
        <div>
            <input type="submit" value="Зарегистрировать" />
        </div>
    </div>
</div>
}

